<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{{ url_for('static', filename='filelist.js') }}"></script>
    <script defer>
        const files = {{ files|tojson }};
        const files_length = {{ files|length }};

        // 画像を追加する<div>
        const div_img_list = document.getElementById("img_list");

        for (let i=0; i<files_length; i++) {
            let img = document.createElement("img");
            img.src = files[i];
            img.alt = files[i];

            div_img_list.appendChild(img);
        }

        

    </script>
    <title>ImageList</title>
</head>
<body>
    <div id="img_list"></div>
</body>
</html>